/* Стили для Experience.jsx */

input[type="text"],
input[type="date"],
textarea {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
}

textarea {
  resize: vertical;
  min-height: 60px;
}

p {
  margin: 5px;
  font-size: 16px;
}
