/* Стили для GeneralInfo.jsx */

input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

p {
  margin: 5px 0;
  font-size: 16px;
}
