/* index.css - базовые глобальные стили */

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

h1,
h2 {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}
